<div class='sorters row'>
    <div class="toggles col-md-5">
        <div class='btn-group' role='group'>
            <button type='button' class='btn btn-default selected'>Recent Post</button>
            <button type='button' class='btn btn-default'>Selected Post</button>
            <button type='button' class='btn btn-default'>My Setting</button>
        </div>
    </div>
    <div class='searcher col-md-5'>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search">
            <span class='input-group-btn'>
                <button type="button" class="btn btn-default"><%= fa_icon "search" %></button>
            </span>
        </div>
    </div>
    <div class='new-post col-md-2'>
        <button type="button" class="btn btn-default">New Post</button>
    </div>
</div>