<div class='container-fluid'>
    <div class='row'>
        <%= render 'posts/homepage/sidebar/recent_members' %>
    </div>
    <div class='row'>
        <%= render 'posts/homepage/sidebar/topic_select' %>
    </div>
    <div class='row'>
        <%= render 'posts/homepage/sidebar/popular_posts' %>
    </div>
    <div class='row'>
        <%= render 'posts/homepage/sidebar/ext_links' %>
    </div>
</div>

