<div class='col-md-4 user'>
    <%= link_to User.find(user[:id]), action: 'go' do %>
        <p><%= user_image(User.find(user[:id]) ,64) %></p>
        <p class='name'><%= user[:username] %></p>
    <% end %>
</div>