<div class='col-md-4 user'>
    <p><%= image_tag("https://image.flaticon.com/icons/png/512/123/123172.png", size: "64", alt: "username", class: "recent-pic") %></p>
    <p class='name'><%= user[:username] %></p>
</div>