<div class='panel recent'>
    <h4>Recent Members</h4>
    <% for i in 0..0 do %>
        <div class='row'>
            <% @recent_users.each do |user| %>
                <%= render partial: 'posts/homepage/sidebar/recent_icon', locals: {user: user} %>
            <% end %>
        </div>
    <% end %>
</div>