<div class='panel topics'>
    <h4>Topic</h4>
    <% Post.topics.each do |topic| %>
        <%= link_to topic, update_home_path(topic: topic), class: 'btn btn-default topic-btn', remote: true%>
    <% end %>
</div>