// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$highlight-color: #337ab7;
$heading-color: #0000009d;
$backdrop-color: hsla(0, 0%, 0%, 0.13);

.post{
    // padding: 1vh 1vw;
    .profile-pic{
        width: 64px;
        border-radius: 50%;
        border: solid black;
    }
    .title{
        padding-left: 1vw;
        a{
            text-decoration: none;
            color: $heading-color;
        }

        a:hover{
            color: $highlight-color;
        }
    }
    .item{
        text-align: center;
    }
}

.post-form{
    margin: 1vh 3vw;
}

.post-view{
    
    .post-topic{
        span{
            background-color: $heading-color;
            padding: 5px 10px;
            border-radius: 5px;
        }
        font-weight: bolder;
        color: white;
    }

    .post-comments, .post-views{
        color: gray;
    }

    .post-user{
        display: flex;
        align-items: center;
        margin-top: 2vh;
        padding: 2vh 2vw;
        background-color: $backdrop-color;
        border-radius: 10px;
        .post-username, .post-date{
            font-size: medium;
        }
    }

    .post-content{
        margin-top: 2vh;
        padding: 2vh 3vw;
        font-size: smaller;
    }

    .post-comments{
        .comment-list{
            margin-top: 5vh;
        }
    }
}

.sorters{
    margin-bottom: 2vh;
    .selected{
        color: $highlight-color;
    }
}

.sidebar{
    .panel{
        padding: 1vh 1vw;
    }

    .recent{
        .user{
            text-align: center;
            position: relative;
            margin: 2px;
            max-width: 90px;
            .name{
                font-weight: bold;
            }
            .likes{
                background-color: rgba($color: #000000, $alpha: 0.5);
                color: white;
            }
        }
    }

    .topics{
        .topic-btn{
            padding: 1vh 1.5vw;
            margin: 0.2vh 0.3vw;
        }
    }

    .populars{
        .popular_post{
            text-decoration: none;
            cursor: pointer;
        }
        .post_title{
            margin-right: 25px;
        }
    }
}